
        <%if( user.status == 1){%>
        <!--Feedback from other admins will display here-->
        <h6>Feedback from <%= allApp.commentUser %></h6>
        <div class="form-row">
            <div class="">
                <textarea cols="50%" rows="4" readonly><%= allApp.comment %></textarea>
                <textarea cols="50%" rows="4" readonly><%= allApp.comment %></textarea>
            </div>
        </div>
        <%}%>
        <hr />
        <% if(allApp.commentUser != user.username && allApp.approvalStatus != 2 && allApp.approvalStatus != 3){%>
        <!--Comment section for the different Admins-->
        <h4>Feedback</h4>
        <h6>Please give your very constructive feedback, as to why this application should be declined or accepted</h6>
        <div class="form-row">
            <div class="col-md-6">
                <textarea cols="100%" rows="5" type="text" placeholder="Add Comment" name="comment" required></textarea>
            </div>
        </div>
        <%}%>
        <div class="col-md-6">
            <%if (allApp.approvalStatus == 1 && user.status == 1){ %>
                <button class="btn btn-warning" name="approvalStatus" value="<%= allApp.approvalStatus%>">Pending Approval</button> 
            <%} else if (allApp.approvalStatus == 2){ %>  
                <span class="btn btn-success">Approved</span>
            <%} else if (allApp.approvalStatus == 0){ %>  
                <button class="btn btn-primary" name="approvalStatus" value="<%= allApp.approvalStatus%>">Approve Application</button>
            <%}%> 
            <% if (user.status == 1 && allApp.approvalStatus != 2){%>
                <button class="btn btn-danger"name="approvalStatus" value="<%= allApp.approvalStatus%>">Decline Application</button> 
            <%}%>
        </div>